.container {
    width: 100%;
    height: 450px;

    .window {
        height: 100%;
        width: 100%;
        overflow: scroll;

        .allPages {
            height: 100%;
            display: flex;
        }
    }

    .sliderArrowBg {
        width: 62px;
        height: 62px;
        background-color: rgba(14, 14, 14, 0.32);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        
        .sliderArrow {
            width: 38px;
            height: 38px;
            background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}