.techAndHWSection {
    margin-bottom: 30px;

    .introduction {
        width: 100%;
        height: 300px;
        margin-bottom: 30px;
        background-image: url('../../../assets/images/tech-and-hw.png');
        border-radius: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        h3 {
            margin-bottom: 10px;
            font-size: 36px;
            font-weight: 700;
            line-height: 44px;
        }

        p {
            font-size: 36px;
            font-weight: 300;
            line-height: 44px;
        }

        .showDownBg {
            width: 100px;
            height: 100px;
            background-color: #0E0E0E52;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            transform: translate(0, 50%);
        }

        .showDown {
            position: absolute;
            width: 70px;
            height: 70px;
            background: linear-gradient(267.61deg, #C0B7E8 -0.6%, #8176AF 98.31%);
            border-radius: 50%;
            bottom: 0;
            transform: translate(0, 50%);
            cursor: pointer;

            &::after {
                content: "";
                display: block;
                width: 17px;
                height: 17px;
                border-bottom: 3px solid #433D60;
                border-right: 3px solid #433D60;
                transform: rotate(45deg) translate(169%, -8%);
            }
        }
    }

    .technologies {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (max-width: 480px) {
    .techAndHWSection {

        .introduction {
            height: 163px;
            border-radius: 60px;
            background-position: center;
            background-size: cover;

            h3 {
                font-size: 16px;
                line-height: 20px;
            }

            p {
                font-size: 24px;
                line-height: 29px;
            }

            .showDownBg,
            .showDown {
                display: none;
            }
        }

        .technologies {}
    }
}