.mainSection {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .infoWrapper {
        .caption {
            margin-bottom: 36px;

            h2 {
                font-size: 40px;
                font-weight: 700;
                line-height: 49px;

                span {
                    font-size: 46px;
                    font-weight: 700;
                    line-height: 56px;
                    background: -webkit-linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }

        p {
            width: 60%;
            margin-bottom: 40px;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
        }

        .directionTo {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    .imgWrapper {
        .imgBg {
            background-image: url("../../../assets/images/virtual-reality-bg.png");
            background-repeat: no-repeat;
            position: relative;
            background-size: contain;
        }
    }
}

@media only screen and (max-width: 480px) {
    .mainSection {
        flex-flow: column-reverse;

        .imgWrapper {
            margin-bottom: 35px;

            img {
                height: 277px;
            }        
        }

        .infoWrapper {
            text-align: center;
            .caption {
                margin-bottom: 32px;

                h2 {
                    font-size: 24px;
                    line-height: 29px;
                    
                    span {
                        font-size: 36px;
                        line-height: 44px;
                    }
                }
            }

            p {
                display: none;
            }

            .directionTo {
                justify-content: center;

                img {
                    display: none;
                }
            }
        }
    }
}