.buildes {
    margin-bottom: 110px;
    display: flex;
    gap: 10px;
}

@media only screen and (max-width: 480px) {
    // .carousel {
    //     height: 450px;
    //     margin-bottom: 70px;
    // }
}