:root {
    --HYprimaryColor: #3A3456F2;
    
    --HYgradientColor1: #3A3456F2;
    --HYgradientColor2: #211E2E;
    --HYtextColor: #ffffff;
    // --TSlinkColor: #8D8D9B;
    // --TSsecondaryTextColor: #B8B8B8;
    // --TSErrorMessageColor: #ff00006e;
    --HYwhiteColor: #ffffff;
}

* {
    color: var(--HYtextColor);
}

a {
    color: var(--HYtextColor);
    text-decoration: none;
}